.row {
    text-align: center;
}

body {
    background-image: url(../images/dark-triangles.png);
    color: black;
}

h1,
h3 {
    font-family: 'Fascinate Inline', cursive;
    color: black;
}

h2,
h5 {
    color: black;
}

#betteroffdead,
#breakfastclub,
#karatekid,
#beetlejuice,
#theshining2,
#dirtydancing,
#princessbride,
#weirdscience,
#ferris,
#duckie,
#duckie2,
#molly {
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.well {
    background-color: rgb(216, 55, 55);
}

#timeleft {
    font-size: 20px;
    color: rgb(104, 1, 1);
}